<html>
    <head>
        <style>body {margin: 0px; }</style>
        <script type='text/javascript'>
            function reroute() {
                document.querySelector('iframe').contentWindow.postMessage({
                    externalCommand: 'login-with-token',
                    token: '{{TOKEN}}'
                }, '*');
            }
        </script>
    </head>
    <body onload='reroute()'></body>
</html>
<iframe width="100%" height="100%" id="chatIframe" src="{{URL}}" style="border-width: 0px;"/>