<!doctype html>
<html>
<head>
    {{IntegratorLinks}}
    <script type='text/javascript'>
        function onload() {
            const token = '{{TOKEN}}'
            if (token !== '') {
                document.querySelector('iframe').contentWindow.postMessage({
                    externalCommand: 'login-with-token',
                    token: token
                }, '*')
            }
        }
    </script>
</head>
<body onload="onload()" style="margin: 0px; padding: 0px;">
    <iframe src="{{URL}}" style="border-width: 0px; width: 100%; height: 100%;"></iframe>
</body>
</html>
